* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.header {
    background-color: #f38f02;
    color: white;
    padding: 10px;
    display: flex;
    width: 100%;
}

.header img {
    height: 40px;
}

.footer {
    background-color: #f38f02;
    color: white;
    padding: 25px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    width: 100%;
}

.content-wrapper {
    width: 100%;
    display: flex;
}

.main-wrapper {
    width: calc(100% - 300px);
}

.basket-wrapper {
    width: 300px;
    border-left: solid 1px rgb(238, 238, 238);
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
}

.banner {
    height: 250px;
    background-image: url(../assets/img/background\ img.jpg);
    background-size: cover;
    background-position: bottom;
}

h1, h2, h3 {
    color: rgb(50, 50, 50);
    padding-bottom: 10px;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.restaurant-info h1 {
    font-size: 26px;
    margin-bottom: 5px;
}

.restaurant-info a {
    color: #f38f02;
    font-size: 14px;
    text-decoration: none;
}

.restaurant-info a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.category-nav {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    display: flex;
    gap: 15px;
}

.category-nav a {
    text-decoration: none;
    color: rgb(142, 142, 142);
    cursor: pointer;
    font-size: 16px;
}

.category-nav a:hover {
    color: #f38f02;
    transition: 0.4s;
}

.main-dish-header {
    height: 150px;
    background-image: url(../assets/img/main\ dish.jpg);
    background-size: cover;
    background-position: top;
}

.side-dish-header {
    height: 150px;
    background-image: url(../assets/img/side\ dish.jpg);
    background-size: cover;
    background-position: center;
}

.drinks-header {
    height: 150px;
    background-image: url(../assets/img/drinks.jpg);
    background-size: cover;
    background-position: center;
}

.main-menu {
    flex: 2;
}

.main-menu .side-menu .dish .drinks-menu {
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.main-menu .side-menu .dish .drinks-menu h2 {
    font-size: 20px;
}

.main-menu .side-menu .dish .drinks-menu p {
    color: #666;
}

.main-menu .side-menu .price .drinks-menu {
    font-weight: bold;
    margin-right: 10px;
}

.dish {
    border: 2px solid rgb(238, 238, 238);
    padding: 10px;
    margin-bottom: 5px;
}

.add-btn {
    background-color: #f38f02;
    border: 2px solid #f38f02;
    padding: 5px 7px 5px 7px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.add-btn:hover {
    background-color: #ffc16b;
    border: 2px solid #ffc16b;
    transition: 0.4s;
}

.basket-disclaimer {
    padding: 10px;
    color: rgb(142, 142, 142);
}

.sticky {
    position: sticky;
    top: 0px;
}

.basket-header {
    padding: 10px;
    border-bottom: solid 2px rgb(238, 238, 238);
}

#basket {
    padding-bottom: 20px;
}

.basket-meal-wrapper {
    padding: 10px;
    border-bottom: solid 2px rgb(238, 238, 238);
}

.basket-meals {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.amount-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.basket-btn {
    background-color: #f38f02;
    border: 2px solid #f38f02;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.basket-btn:hover {
    background-color: #ffc16b;
    border: 2px solid #ffc16b;
    transition: 0.4s;
}

#basket-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.order {
    display: flex;
    justify-content: center;
}

.order-btn {
    background-color: #f38f02;
    border: 2px solid #f38f02;
    padding: 5px 8px 5px 8px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.order-btn:hover {
    background-color: #ffc16b;
    border: 2px solid #ffc16b;
    transition: 0.4s;
}

.d-none {
    display: none;
}

.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-confirm {
    height: 200px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(238, 238, 238);
    padding: 20px;

}

----- RESPONSIVE -----

Warenkorb bis 800px normal
<800 bis 320px Warenkorb runter in Dialogform
Warenkorb als Button zum öffnen
schließen Button oben in der Ecke
